@model prjNewPet.Models.tOrder

@{
    ViewBag.Title = "Edit";
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<h2>訂單修改</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.fOrderID)

        <div class="form-group">
            @Html.LabelFor(model => model.fMemberID, "會員姓名", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fMemberID", (SelectList)ViewBag.SelectListmem, null, htmlAttributes: new { @class = "form-control", id = "Members" })
                @Html.ValidationMessageFor(model => model.fMemberID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fOrderDate, "下單日期", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fOrderDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fOrderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fShipOutDate, "出貨日期", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fShipOutDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fShipOutDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fCityID, "城市", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fCityID", (SelectList)ViewBag.SelectListcity, "請選擇城市", htmlAttributes: new { @class = "form-control", id = "Citys" })
                @Html.ValidationMessageFor(model => model.fCityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fRegionID, "地區", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Regions" name="fRegionID" class="form-control"><option>@Model.tRegion.fName</option></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fAddressDetail, "地址", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fAddressDetail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fAddressDetail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fPayWayID, "付款方式", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fPayWayID", (SelectList)ViewBag.selectListrPayWay, null, htmlAttributes: new { @class = "form-control", id = "PayWays" })
                @Html.ValidationMessageFor(model => model.fPayWayID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fStatus, "商品狀態", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回訂單列表", "OrderList")
</div>



<script>

    $(document).ready(function () {
        $("#Citys").change(function () { ChangeCity(); });
    });

    function ChangeCity() {
        var selectedValue = $("#Citys option:selected").val();//cityid
        if ($.trim(selectedValue).length > 0) {
            GetOrders(selectedValue);
        }
    }

    //GetOrders() 這個 function 內就透過 jQuery.Ajax() 向後端取得 Orders 的 JSON 資料，最後再由這份 JSON 資料去增加下拉選單的 option 內容

    function GetOrders(cityID) {
        $.ajax({
            url: '@Url.Action("Regions", "Order")',
            data: { cityID: cityID },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#Regions').empty();
                    $('#Regions').append($('<option></option>').val('').text('請選擇區域'));
                    $.each(data, function (i, item) {
                        $('#Regions').append($('<option></option>').val(item.Key).text(item.Value));
                    });
                }
            }
        });
    }
</script>