@model IEnumerable<prjNewPet.Models.tPurchaseShoppingCart>


<style>
    td {
        vertical-align: middle;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .line-limit-length {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lighter-text {
        color: #ff4646;
        font-family: 微軟正黑體;
        font-weight: bold;
    }

    .main-color-text {
        color: #6394f8;
        font-weight: 900;
    }
</style>

@if (Model.Count() == 0)
{
    <li>
        <a class="btn btn-default text-center">購物車內無任何商品。</a>
    </li>
}
else
{

    <li>

        <table class="table table-hover" style="table-layout:fixed;border-collapse:collapse">
            <thead style="border-bottom:double">
                <tr>
                    <td>照片</td>
                    <td>名稱</td>
                    <td>數量</td>
                    <td>金額</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr style="border-bottom:groove">
                        <td>
                            <img src="@items.fPic" class="img-responsive" />
                        </td>
                        <td class="line-limit-length" style="width:100px">
                            @items.tProduct.fName
                        </td>
                        <td>
                            <div class="entry value">
                                <span>@items.fQuantity</span>
                            </div>
                        </td>
                        <td class="minitotal" id="miniTotalPrice_@items.fProductID">NT.@((items.fUnitPrice * @items.fQuantity).ToString("F0"))</td>

                    </tr>
                }
                <tr>
                    <td colspan="4">
                        <div class="shopping-cart-total" style="text-align:center;margin-bottom:10px;">
                            <span class="lighter-text">總金額：</span>
                            <span id="miniTotalPrice" class="main-color-text"></span>
                        </div>
                        <input id="createpurchaselist" type="button" class="btn btn-danger" style="margin:auto;display:block" value="產生購買訂單">
                    </td>
                </tr>

            </tbody>
        </table>
    </li>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.0/sweetalert2.all.js"></script>

<script>

    $(document).ready(function () {
        priceSummini();
    });


    function priceSummini() {
        var sum = 0;
        $('.minitotal').each(function () {

            sum += parseInt($(this).text().substring(3));
        });

        $('#miniTotalPrice').text("NT." + sum);

    };



    $("#createpurchaselist").click(function () {


        $.ajax({
             type: 'post',

             url: '@Url.Action("addPurchase", "Purchase")',




        }).done(function (data) {
           
            swal({
                 text: '已將購物清單寄至採購部',
                 type: 'success',
                 timer: 1000
            }).then(function () {
                $('#Productminicartitems').load('@Url.Action("_Purchasecart", "Purchase")');

                window.location.reload();
                



            }
            )

         }).fail(function (err) {



        });


    });




</script>


